## Q1. Convert a given string to int using a single line of code.

In [1]:
a = '4'

In [2]:
print(int(a))

4

## Q2. Write a code snippet to convert a string to a list.

In [3]:
name = 'Prasad Ganthade'

In [4]:
print(name.split())

['Prasad', 'Ganthade']

## Q3. Write a code snippet to reverse a string.

In [7]:
str1 = 'Hello world'
str2 = ""

In [8]:
for i in str1:
    str2 = i + str2
print('Oriinal string is :',str1)
print('Reverse string :',str2)

Oriinal string is : Hello world
Reverse string : dlrow olleH

## Q4. Write a code snippet to sort a list in Python.

In [9]:
list1 = [5,4,3,2,1]

In [11]:
list1.sort()

In [12]:
list1

[1, 2, 3, 4, 5]

## Q7. How to access an element of a list?

In [13]:
list1

[1, 2, 3, 4, 5]

In [14]:
print('To access 1st element :',list1[0])

To access 1st element : 1

In [16]:
print('To access 3rd element :',list1[2])

To access 3rd element : 3

In [17]:
print('To access last element :',list1[-1])

To access last element : 5

## Q8. Discuss different ways of deleting an element from a list.

In [18]:
# 1. By using remove function
# permanent
list2 = [10,20,30,40,50]

In [20]:
list2.remove(20)

In [21]:
list2

[10, 30, 40, 50]

In [22]:
# by using pop function
# element is not given then remove last and permanent operation and return element
list2.pop()

50

In [23]:
list2

[10, 30, 40]

## Q9. Write a code snippet to delete an entire list.

In [24]:
list2

[10, 30, 40]

In [25]:
list2.clear()

In [26]:
list2

[]

## Q10. Write a code snippet to reverse an array.

In [27]:
list1

[1, 2, 3, 4, 5]

In [28]:
list1[::-1]

[5, 4, 3, 2, 1]

## Q11. Write a code snippet to get an element, delete an element, and update an element in an array.

In [29]:
# to get element
list3 = [100,200,300,400,500]

In [30]:
# 2nd element
list3[1]

200

In [32]:
# delete 3rd element
list3.remove(300)

In [33]:
list3

[100, 200, 400, 500]

In [34]:
# to update list
list3[2] = 10000

In [35]:
list3

[100, 200, 10000, 500]

## Q12. Write a code snippet to concatenate lists.

In [37]:
l1= ["w", 'a', 'w',"b"]
l2 = ["e", " ",'riting','log']

In [40]:
l3 = [x + y for x,y in zip(l1,l2)]
l3

['we', 'a ', 'writing', 'blog']

## Q13. Write a code snippet to generate the square of every element of a list.

In [41]:
list3

[100, 200, 10000, 500]

In [42]:
list1 = [10,20,30,40]

In [44]:
sq_list =[]
for i in list1:
    p = i * i
    sq_list.append(p)
sq_list

[100, 400, 900, 1600]

## Q51. Write a program to check whether a number is prime or not.

In [48]:
num = int(input('Eter the number : '))
if num < 0:
    print('Enter the postive number : ')
elif num == 1:
    print('Not a prime number')
elif num >= 2:
    for i in range(2,int(num//2)+1):
        if num % i == 0:
            print('Not a prime number')
            break
    else:
        print('Given number is prime number')

Eter the number : 4
Not a prime number

## Q53. What are the ways to swap the values of two elements?

In [49]:
# method 1
a = 4
b = 90
print('Nubers before swapping :',a,b)

Nubers before swapping : 4 90

In [50]:
a,b = b,a

In [51]:
print('Numbers after swapping :',a,b)

Numbers after swapping : 90 4

In [52]:
# Method -2 
c = 100
d = 300
display('Number before swapping :',c,d)

'Number before swapping :'

100

300

In [53]:
temp = c
c = d
d = temp
display('Numbers after swapping :',c,d)

'Numbers after swapping :'

300

100

## Q54. Write a program in Python to return the factorial of a given number using recursion.

In [58]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return (num * factorial(num - 1))
num = 5

if num < 0:
    print('enter positive number')
elif num == 0:
    print('Factorial of 0 is 1')
else:
    print('Factorial of given number is :',factorial(num))

Factorial of given number is : 120

## Q56. How do you find the minimum value in a list with a lambda function?

In [59]:
list3

[100, 200, 10000, 500]

In [71]:
a = (lambda x,y :x if x < y else y,list3)

## Q58. Write a code to select only odd numbers using list comprehension.

In [72]:
list3

[100, 200, 10000, 500]

In [73]:
list4 = [1,2,3,4,5]

In [75]:
odd_list = [i for i in list4 if i%2!=0]

In [76]:
odd_list

[1, 3, 5]

## Q60. Write a code to get the minimum value in a dictionary.

In [77]:
students = {
  'Theodore': 19,
  'Roxanne': 22,
  'Mathew': 21,
  'Betty': 20
}

In [79]:
def min_values(dict1):
    return max(dict1,key=dict1.get), min(dict1,key=dict1.get)
print(min_values(students))

('Roxanne', 'Theodore')

## Q61. Write a program to return the mean value of a tuple of tuples.

In [81]:
def mean_tuples(num):
    result = [sum(x)/len(x) for x in zip(*num)]
    return result
num = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print('Mean value is :',mean_tuples(num))

Mean value is : [30.5, 34.25, 27.0, 23.25]

In [82]:
tup = (10,20,30,40,50)
result= sum(tup)/len(tup)
result

30.0

## Q69. How can we concatenate two arrays?

In [83]:
import numpy as np

In [84]:
a = np.array([10,20])
b = np.array([30,40])

In [85]:
c = np.concatenate((a,b))

In [86]:
c

array([10, 20, 30, 40])